manifest {
	description = 'Nextflow pipeline for AWS rnafuion pipeline'
	author = 'Vishram L. Terse'
	nextflowVersion = '20.10.0'
}

params {
	input = "/home/diagnostics/pipelines/fastq_to_bam_paired_snakemake/samplesheet.csv"
	genome = "/home/reference_genomes/hg19_broad/hg19_all.fasta"
	site1 = "/home/reference_genomes/dbSNPGATK/dbsnp_138.hg19.vcf"
	site2 = "/home/reference_genomes/dbSNPGATK/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
	itd_fasta = "/home/diagnostics/pipelines/Transcriptome/scripts/itd/itd_genes.fa"
	adaptors = "/home/programs/Trimmomatic-0.39/adapters/TruSeq2-PE.fa"
	sequences = "/home/diagnostics/pipelines/fastq_to_bam_paired_snakemake/sequences"
	bedfile = "/home/diagnostics/pipelines/Transcriptome/scripts/call_regions.bed"
	FusioncatcherRef = "/home/diagnostics/pipelines/nf-core/rnafusion/references/fusioncatcher/human_v102"
	Oncofuse = "/home/programs/Oncofuse/oncofuse-1.1.1/Oncofuse.jar"
	java_path = "/usr/lib/jvm/java-8-openjdk-amd64/bin/"
	merge_tsv = "/home/diagnostics/pipelines/Transcriptome/scripts/merge-tsv.py"
	outdir = "/home/diagnostics/pipelines/Transcriptome/Final_Output"
	star_reference = "/home/diagnostics/pipelines/nf-core/rnafusion/references/star"
	star_gtf_path = "/home/diagnostics/pipelines/nf-core/rnafusion/references/ensembl/Homo_sapiens.GRCh38.102.gtf"
	bedfile_name = "/home/diagnostics/pipelines/rnafusion_aws/scripts/bedfile_map.sh"
	bedtools = "/usr/bin/bedtools"
	samtools = "/home/programs/samtools-1.7/samtools"
	starfusion_ref = "/home/diagnostics/pipelines/nf-core/rnafusion/references/starfusion/ctat_genome_lib_build_dir"
	fasta = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/references/ensembl/Homo_sapiens.GRCh38.102.all.fa"
	arriba_ref_blacklist = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/references/arriba/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
	known_fusions = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/references/arriba/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz"
	proteindomains = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/references/arriba/protein_domains_hg38_GRCh38_v2.4.0.gff3"
	cytobands = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/references/arriba/cytobands_hg38_GRCh38_v2.4.0.tsv"
	java_path = "/usr/lib/jvm/java-8-openjdk-amd64/bin/"
	picard_path = "/home/programs/picard/build/libs/picard.jar"
	coverage_hamlet = "/home/diagnostics/pipelines/Transcriptome/scripts/coverage_hamlet.py"
	transform_counts = "/home/diagnostics/pipelines/Transcriptome/scripts/transform_counts.py"
	housekeeping_genes = "/home/diagnostics/pipelines/Transcriptome/scripts/housekeeping_genes.txt"
	genes_of_interest = "/home/diagnostics/pipelines/Transcriptome/scripts/genes_of_interest.txt"
	json_output = "/home/diagnostics/pipelines/Transcriptome/scripts/json-output.py"
	multiqc_script = "/home/diagnostics/pipelines/Transcriptome/scripts/multiqc.py"
	transcriptome_bed = "/home/diagnostics/pipelines/Transcriptome/scripts/transcriptome.bed"
	hotspot_regions = "/home/diagnostics/pipelines/Transcriptome/scripts/hotspots_genome.bed"
	blacklist = "/home/diagnostics/pipelines/Transcriptome/scripts/blacklist.txt"
	ref_id_mapping = "/home/diagnostics/pipelines/Transcriptome/scripts/id_mappings.tsv"
	filter_vep = "/home/diagnostics/pipelines/Transcriptome/scripts/filter_vep.py"
	gatk = "/home/diagnostics/programs/gatk-4.2.6.0/gatk"
	fastp = "/home/arpit/miniconda3/bin/fastp"
	run_ichorCNA = "/home/diagnostics/pipelines/fastq_to_bam_paired_snakemake/scripts/run_ichorCNA.sh"
	coverview_path = "/home/programs/CoverView-1.4.3"
	coverview_script_path = "/home/pipelines/mutation_detector_nextflow/scripts/coverview.py"
	bams = "/home/diagnostics/pipelines/fastq_to_bam_paired_snakemake/bams"
	star_reference = "/home/diagnostics/pipelines/nf-core/rnafusion/references/star"
	star_gtf_path = "/home/diagnostics/pipelines/nf-core/rnafusion/references/ensembl/Homo_sapiens.GRCh38.102.gtf"
	adaptors = "/home/programs/Trimmomatic-0.39/adapters/TruSeq2-PE.fa"
}

trace {
	enabled = true
	overwrite = true
	file = "${params.output}/pipeline_trace.txt"
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}

profiles {
	
	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
	}

	docker {
		docker.enabled = true
		docker.userEmulation = true
	}
}

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 8     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 32     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 64    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
}

report {
	overwrite = true
}
